@use 'sass:color';

body {
    margin: 0;
}

@mixin colors($base) {
    $colors: (
        'darker2': color.adjust($color: $base, $hue: -10, $lightness: -20%),
        'darker1': color.adjust($color: $base, $hue: -5, $lightness: -10%),
        'base': $base,
        'lighter1': color.adjust($color: $base, $hue: 5, $lightness: 10%),
        'lighter2': color.adjust($color: $base, $hue: 10, $lightness: 20%),
    );
    
    @each $color, $value in $colors {
        & > div[id=#{$color}] {
            background-color: $value;

            &::before {
                @if $color == 'base' {
                    content: 'base';
                } @else {
                    content: '#{$color}';
                }
            }
        }
    }
}

.columns {
    display: flex;
    height: 100vw;

    @include colors(plum);

    & > div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}