album, info {
    display: block;
}

album {
    width: fit-content;
    margin: 1em auto;
    padding: 1em;
    border: thin solid black;
    border-radius: 0.5em;
    font-family: 'Segoe UI', Arial, sans-serif;
    box-shadow: 0.25em 0.25em 0.5em gray;
}

info * {
    display: inline-block;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0.5em;
}

artist::after {
    content: ' \2013 ';
}

year::before {
    content: '(';
}

year::after {
    content: ')';
}

tracks {
    display: table;
    width: 100%;
    counter-reset: track-number;
}

track {
    display: table-row;
}

track > title, length {
    display: table-cell;
    padding: 0.5em;
}

track > title::before {
    display: inline-block;
    counter-increment: track-number;
    content: counter(track-number)'.';
    margin-right: 0.5em;
    width: 2em;
    text-align: right;
}

length {
    text-align: right;
    font-variant-numeric: tabular-nums;
}
