@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

movies {
    border: medium solid indigo;
    box-shadow: 0.25em 0.25em 0.5em indigo;
    display: block;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 1em;
    padding: 1em;
}

movie {
    display: list-item;
    list-style-type: disc;
    margin: 0 2em;
    padding: 0.5em;
}

title {
    display: none;
}

title:lang(en), year, genre, rating, votes {
    display: inline-block;
    vertical-align: middle;
}

/*
title {
    display: inline-block;
    font-size:1.2em;
}

title:not(:lang(en)) {
    display: none;
}
*/

title, year {
    font-size: 1.2em;
}

year::before {
    content: '(';
}

year::after {
    content: '):';
}

movie:is([mpa-rating=R], [mpa-rating=NC-17]) :is(title, year) {
    color: red;
    font-weight: bold;
}

/*
movie[mpa-rating=R] title,
movie[mpa-rating=NC-17] title,
movie[mpa-rating=R] year,
movie[mpa-rating=NC-17] year {
    color: red;
    font-weight: bold;
}
*/

genre, rating {
    color: white;
}

genre {
    font-size: 0.9em;
    padding: 0.25em 0.6em; /* generally for pill shape use 2x-3x horizontal value */
    background: blueviolet;
    border-radius: 9999px; /* achieves perfect border for pill effect */
}

rating, movie:hover::after {
    padding: 0.25em;
    border-radius: 0.25em;
}

rating {
    background-color: hotpink;
    font-weight: bold;
}

rating::after {
    content: '/10';
}

votes::before {
    content: ' from ';
}

votes::after {
    content: ' ratings';
}

movie:hover {
    background-color: powderblue;
}

movie:hover::after {
    content: 'https://www.imdb.com/title/tt' attr(id);
    background-color: gold;
    color: blueviolet;
    font-family: monospace;
    font-size: large;
}
