@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

book, author, title, chapter, para {
    display: block;
}

book {
    margin: auto;
    max-width: 80ch;
    font-family: 'EB Garamond', serif;
    padding: 2em;
    counter-reset: chapter-number footnote-number;
}

author, title {
    font-family: Anton, Arial, sans-serif;
    text-align: center;
}

author {
    font-size: 2em;
    margin-bottom: 1em;
}

book > title {
    font-size: 4em;
    padding-bottom: 1em;
    border-bottom: medium double black;
}

author, book > title {
    font-variant: small-caps;
    letter-spacing: 0.1em;
}

chapter > title {
    font-size: x-large;
    margin: 1.5em 0 0.75em 0;
    text-decoration: underline;
}

chapter > title::before {
    content: 'Chapter ' counter(chapter-number, upper-roman) '\2014';
    counter-increment: chapter-number;
}

para {
    text-indent: 1.5em;
    margin: 0.75em 0;
    line-height: 1.5;
}

para:first-of-type { /* in this context could be `title + para:first-of-type` as well */
    text-indent: 0;
}

para:first-of-type::first-letter { /* in this context could be `title + para:first-of-type::first-letter` as well */
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1;
    margin-right: 0.05em;
}

para:hover {
    background-color: slateblue;
    color: white;
    cursor: pointer;
}

footnote {
    font-size: 0;
    display: inline;
    vertical-align: super;
}

footnote::before {
    content: '[' counter(footnote-number) ']';
    counter-increment: footnote-number;
    font-size: small;
}

footnote:hover {
    font-size: large;
    padding: 0.5em;
    background-color: tomato;
}

footnote:hover::before {
    font-size: large;
    padding-right: 0.25em;
}